.background-pink {
    background-color: #EEBECE;
    width: 100%;
    height: 100%;
    // overflow: hidden;
    // background-attachment: fixed;

    .center-element {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;

    }

    .after-absolute {
        z-index: -1;
        top: 780px;
        // left: 240px;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: red;
    }
    .rouded{
        width: 132px;
        height: 132px;
        background-color: #0B24FB;
        border-radius: 50%;
        // margin-left: auto;
        // margin-right: auto;
        // left: 0;
        // right: 1;
    }

    .two-colour-background {
        width: 100%;
        height: 50%;
        background: -webkit-linear-gradient(top, pink, pink 50%, black 30%, black);
    }    
    
}